### Dash practice

In [5]:
from package.routes import customer_orders_trace

In [ ]:
from package.plotly import trace_values

In [7]:
trace = customer_orders_trace()

2018-07-17 13:45:59,591 INFO sqlalchemy.engine.base.Engine SELECT customers.id AS customers_id, customers.name AS customers_name, customers.hometown AS customers_hometown, customers.birthyear AS customers_birthyear
FROM customers
2018-07-17 13:45:59,594 INFO sqlalchemy.engine.base.Engine ()
2018-07-17 13:45:59,601 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT orders.id AS orders_id, orders.customer_id AS orders_customer_id, orders.bartender_id AS orders_bartender_id, orders.drink_id AS orders_drink_id
FROM orders
WHERE ? = orders.customer_id) AS anon_1
2018-07-17 13:45:59,602 INFO sqlalchemy.engine.base.Engine (1,)
2018-07-17 13:45:59,611 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT orders.id AS orders_id, orders.customer_id AS orders_customer_id, orders.bartender_id AS orders_bartender_id, orders.drink_id AS orders_drink_id
FROM orders
WHERE ? = orders.customer_id) AS anon_1
2018-07-17 13:45:59,613 INFO sqlalchemy.engine.base.Engine (2,)
2018-07-17 13:45:59,620 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT orders.id AS orders_id, orders.customer_id AS orders_customer_id, orders.bartender_id AS orders_bartender_id, orders.drink_id AS orders_drink_id
FROM orders
WHERE ? = orders.customer_id) AS anon_1
2018-07-17 13:45:59,621 INFO sqlalchemy.engine.base.Engine (3,)

In [8]:
trace

{'name': 'data',
 'text': [],
 'type': 'bar',
 'x': ['bart simpson', 'maggie simpson', 'lisa'],
 'y': [7, 8, 4]}

In [9]:
import plotly

plotly.offline.init_notebook_mode(connected=True)

plotly.offline.iplot([trace])