### CTE

Use the temporary records in a subsequent select 
* Creates a temporary set of records which can reuse in another

In [2]:
yelp_dataset_url = "https://raw.githubusercontent.com/ledeprogram/courses/master/foundations/mapping/tilemill/yelp-lunch-nyc.csv"

In [8]:
import pandas as pd
import sqlite3

yelp_data = pd.read_csv(yelp_dataset_url)

conn = sqlite3.connect('restaurants.db')
yelp_data.to_sql("restaurants", conn, if_exists='append', index=False)
cursor = conn.cursor()

In [9]:
sql = """
    WITH city_restaurants AS 
        (
            SELECT city, AVG(rating) as average_city_rating, count(*) as number_of_restaurants FROM RESTAURANTS GROUP BY city
        )
    SELECT city, number_of_restaurants, max(average_city_rating) from city_restaurants where number_of_restaurants > 20;
"""
sql

'\n    WITH city_restaurants AS \n        (\n            SELECT city, AVG(rating) as average_city_rating, count(*) as number_of_restaurants FROM RESTAURANTS GROUP BY city\n        )\n    SELECT city, number_of_restaurants, max(average_city_rating) from city_restaurants where number_of_restaurants > 20;\n'

In [10]:
cursor.execute(sql)

In [11]:
cursor.fetchall()

[('Queens Village', 26, 4.326923076923077)]

Resources: 
    [CTE readme](https://www.essentialsql.com/introduction-common-table-expressions-ctes/)
    [CTE video](https://www.youtube.com/watch?v=U0wXjUi2v_U)

### Window Functions

* Used for data analysis calculations

https://www.youtube.com/watch?v=H6OTMoXjNiM&t=5s
https://www.youtube.com/watch?v=qSkuKcj48xU

https://drill.apache.org/docs/sql-window-functions-introduction/