### CTE

Use the temporary records in a subsequent select 
* Creates a temporary set of records which can reuse in another

In [1]:
yelp_dataset_url = "https://raw.githubusercontent.com/ledeprogram/courses/master/foundations/mapping/tilemill/yelp-lunch-nyc.csv"

In [2]:
import pandas as pd
import sqlite3
yelp_data = pd.read_csv(yelp_dataset_url)

# conn = sqlite3.connect('restaurants.db')
# yelp_data.to_sql("restaurants", conn, if_exists='append', index=False)
# cursor = conn.cursor()

In [3]:
import psycopg2
conn = psycopg2.connect("user=postgres")
cursor = conn.cursor()

/Users/flatironschool/anaconda/lib/python3.5/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [5]:
# from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
# conn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
cursor = conn.cursor()
conn.set_session(autocommit=True)
cursor.execute('CREATE DATABASE yelper')
cursor.close()
conn.close()

ProgrammingError: database "yelper" already exists

In [4]:
conn = psycopg2.connect("dbname=yelper user=postgres")

In [12]:
sql = """CREATE TABLE restaurants(
   id SERIAL PRIMARY KEY,
   name TEXT,
   address TEXT,
   city TEXT,
   category TEXT,
   rating INTEGER,
   url TEXT
 );
"""

In [14]:
cursor = conn.cursor()

In [15]:
cursor.execute(sql)

In [5]:
import io
output = io.StringIO()
yelp_data.to_csv(output, sep='\t', header=False, index=False)

In [6]:
cursor = conn.cursor()

In [7]:
cursor.copy_from(output, "restaurants", null="")

In [8]:
conn.commit()

In [16]:
cursor.close()

In [25]:
conn = psycopg2.connect("dbname=yelper user=postgres")
cursor = conn.cursor()
cursor.execute("select * from restaurants;")

In [26]:
cursor.fetchall()

[]

In [28]:
sql = """
    WITH city_restaurants AS 
        (
            SELECT city, AVG(rating) as average_city_rating, count(*) as number_of_restaurants FROM RESTAURANTS GROUP BY city
        )
    SELECT city, number_of_restaurants, max(average_city_rating) from city_restaurants where number_of_restaurants > 20;
"""
sql

'\n    WITH city_restaurants AS \n        (\n            SELECT city, AVG(rating) as average_city_rating, count(*) as number_of_restaurants FROM RESTAURANTS GROUP BY city\n        )\n    SELECT city, number_of_restaurants, max(average_city_rating) from city_restaurants where number_of_restaurants > 20;\n'

In [29]:
cursor.execute(sql)

In [30]:
cursor.fetchall()

[('Queens Village', 78, 4.326923076923077)]

Resources: 
    [CTE readme](https://www.essentialsql.com/introduction-common-table-expressions-ctes/)
    [CTE video](https://www.youtube.com/watch?v=U0wXjUi2v_U)

### Window Functions

In [40]:
yelp_data

In [41]:
cursor.execute(sql)

OperationalError: near "(": syntax error

In [39]:
cursor.fetchall()

[]

* Used for data analysis calculations

https://www.youtube.com/watch?v=H6OTMoXjNiM&t=5s
https://www.youtube.com/watch?v=qSkuKcj48xU

https://drill.apache.org/docs/sql-window-functions-introduction/