In [1]:
import sqlalchemy

In [2]:
sqlalchemy.__version__

'1.2.7'

In [17]:
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

In [18]:
Base()

In [19]:
from sqlalchemy import Column, Integer, String

In [20]:
class User(Base):
     __tablename__ = 'users'

     id = Column(Integer, primary_key=True)
     name = Column(String)
     fullname = Column(String)
     password = Column(String)

     def __repr__(self):
        return "<User(name='%s', fullname='%s', password='%s')>" % (
                             self.name, self.fullname, self.password)

In [23]:
user = User()

In [22]:
user.name

'bob'

In [24]:

engine = sqlalchemy.create_engine('sqlite:///:memory:', echo=True)
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)

In [25]:
Base.metadata.create_all(engine)

2018-07-11 11:01:05,008 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-11 11:01:05,010 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 11:01:05,013 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-11 11:01:05,015 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 11:01:05,018 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2018-07-11 11:01:05,019 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 11:01:05,028 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	password VARCHAR,
	PRIMARY KEY (id)
)


2018-07-11 11:01:05,030 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 11:01:05,035 INFO sqlalchemy.engine.base.Engine COMMIT

In [26]:
session = Session()

In [27]:
session.add(user)

In [35]:
user

In [37]:
users = session.query(User).filter_by(name = 'bob')

In [41]:
users[0].id

2018-07-10 16:19:43,160 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?
2018-07-10 16:19:43,163 INFO sqlalchemy.engine.base.Engine ('bob', 1, 0)

1

In [43]:
user.id

1

In [44]:
fred = User(name = 'fred')

In [46]:
session.add(fred)

In [49]:
fred.name = 'Fred'

In [50]:
session.dirty

IdentitySet([])

In [53]:
user.name = 'Bob'

In [54]:
session.dirty

IdentitySet([<User(name='Bob', fullname='None', password='None')>])

In [56]:
session.commit()

2018-07-10 16:23:38,670 INFO sqlalchemy.engine.base.Engine UPDATE users SET name=? WHERE users.id = ?
2018-07-10 16:23:38,673 INFO sqlalchemy.engine.base.Engine ('Bob', 1)
2018-07-10 16:23:38,675 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2018-07-10 16:23:38,676 INFO sqlalchemy.engine.base.Engine ('Fred', None, None)
2018-07-10 16:23:38,679 INFO sqlalchemy.engine.base.Engine COMMIT

In [57]:
session.dirty

IdentitySet([])

In [58]:
session.new

IdentitySet([])

In [59]:
session.commit()

In [60]:
session.rollback()

In [64]:
user = session.query(User).filter_by(name = 'Bob').first()

2018-07-10 16:38:39,415 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?
2018-07-10 16:38:39,417 INFO sqlalchemy.engine.base.Engine ('Bob', 1, 0)

In [66]:
user.name = 'bob'

In [67]:
user

In [68]:
session.rollback()

2018-07-10 16:38:52,726 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [70]:
user.name

'Bob'

In [71]:
user.name = 'Bob'

In [72]:
user

In [73]:
user.name

'Bob'

In [74]:
session.rollback()

2018-07-10 16:39:32,167 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [76]:
user.name = 'foobar'

In [77]:
user.name

'foobar'

In [78]:
session.rollback()

2018-07-10 16:39:54,189 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [79]:
user.name

2018-07-10 16:39:56,932 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-10 16:39:56,935 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.id = ?
2018-07-10 16:39:56,936 INFO sqlalchemy.engine.base.Engine (1,)

'Bob'

In [82]:
session.query(User).all()

2018-07-10 16:41:42,297 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
2018-07-10 16:41:42,299 INFO sqlalchemy.engine.base.Engine ()

[<User(name='Bob', fullname='None', password='None')>,
 <User(name='Fred', fullname='None', password='None')>]

In [83]:
sam = User(name = 'sam')

In [84]:
session.add(sam)

In [85]:
session.query(User).all()

2018-07-10 16:42:29,817 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2018-07-10 16:42:29,819 INFO sqlalchemy.engine.base.Engine ('sam', None, None)
2018-07-10 16:42:29,822 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
2018-07-10 16:42:29,824 INFO sqlalchemy.engine.base.Engine ()

[<User(name='Bob', fullname='None', password='None')>,
 <User(name='Fred', fullname='None', password='None')>,
 <User(name='sam', fullname='None', password='None')>]

In [86]:
session.rollback()

2018-07-10 16:42:38,904 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [87]:
session.query(User).all()

2018-07-10 16:42:51,475 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-10 16:42:51,478 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
2018-07-10 16:42:51,479 INFO sqlalchemy.engine.base.Engine ()

[<User(name='Bob', fullname='None', password='None')>,
 <User(name='Fred', fullname='None', password='None')>]

In [88]:
session.add(sam)

In [89]:
session.commit()

2018-07-10 16:43:09,815 INFO sqlalchemy.engine.base.Engine INSERT INTO users (id, name, fullname, password) VALUES (?, ?, ?, ?)
2018-07-10 16:43:09,817 INFO sqlalchemy.engine.base.Engine (3, 'sam', None, None)
2018-07-10 16:43:09,820 INFO sqlalchemy.engine.base.Engine COMMIT

### Query

In [100]:
for row in session.query(User, User.name):
    print(row.User)

2018-07-10 17:07:34,310 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
2018-07-10 17:07:34,312 INFO sqlalchemy.engine.base.Engine ()
<User(name='Bob', fullname='None', password='None')>
<User(name='Fred', fullname='None', password='None')>
<User(name='sam', fullname='None', password='None')>

In [111]:
dir(User.name.in_(['ed', 'wendy', 'jack']))

['__add__',
 '__and__',
 '__bool__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__radd__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__visit_name__',
 '__weakref__',
 '_allow_label_resolve',
 '_alt_names',
 '_annotate',
 '_annotations',
 '_bind_param',
 '_clone',
 '_cloned_set',
 '_compare_name_for_result',
 '_compiler',
 '_compiler_dispatch',
 '_constructor',
 '_copy_internals',
 '_deannotate',
 '_execute_on_connection',
 '_from_objects',
 '_is_clone_of',
 '_is_from_container',
 '_key_label',
 '_label',
 '_make_proxy',
 '_negate',
 '_order_by_label_element',
 '_orig',
 '_params',
 '_render_label_in_columns_clause',
 '_resolve_label',
 '_select_iterable',
 '_with_annotations',
 'all_',
 'anon_label',
 'any_',
 'asc',
 'base_columns',
 'between',
 'bind',
 'bool_op',
 'cast',
 'collate',
 'comparator',
 'compare',
 'compile',
 'concat',
 'contains',
 'desc',
 'description',
 'distinct',
 'endswith',
 'expression',
 'foreign_keys',
 'get_children',
 'ilike',
 'in_',
 'is_',
 'is_clause_element',
 'is_comparison',
 'is_distinct_from',
 'is_selectable',
 'isnot',
 'isnot_distinct_from',
 'key',
 'label',
 'left',
 'like',
 'match',
 'modifiers',
 'negate',
 'notilike',
 'notin_',
 'notlike',
 'nullsfirst',
 'nullslast',
 'op',
 'operate',
 'operator',
 'params',
 'primary_key',
 'proxy_set',
 'reverse_operate',
 'right',
 'self_group',
 'shares_lineage',
 'startswith',
 'supports_execution',
 'timetuple',
 'type',
 'unique_params']